<% provide(:title, "Dashboard") %>
<div class="page-header sr-only">
  <h1>Monthly Budget</h1>
</div>

<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <h5><%= @owner_name %><small> • <%= @institution %><h5>
                <h6 class="text-muted"><%= @owner_email %><h6>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Budget Spent</h3>
            </div>
            <div class="panel-body">
                <span class="pull-right"><%= number_to_currency(@total_budget) %></span>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="<%= number_to_percentage(@percentage_spent, precision: 2) %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= number_to_percentage(@percentage_spent, precision: 2) %>;">
                        <%= number_to_percentage(@percentage_spent, precision: 2) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Balance</h2>
        <p>Gráfica</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Accounts</h2>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th></th>
                    <th>Planned</th>
                    <th>Real</th>
                    <th>Rest</th>
                </tr>
                <% @accounts.each do |account| %>
                <tr>
                    <td><strong><%= account['name'] %></strong><small> — <%= account['number'] %></small></td>
                    <td><%= number_to_currency(account['budgeted_amount']) %></td>
                    <td><%= number_to_currency(account['balance']['available']) %></td>
                    <td><%= number_to_currency((account['budgeted_amount'] - account['balance']['available'])) %></td>
                </tr>
                <%# <tr>
                    <td>Account 1</td>
                    <td>$10,000</td>
                    <td>$3,300</td>
                    <td>$6,700</td>
                </tr>
                <tr>
                    <td>Account 2</td>
                    <td>$12,000</td>
                    <td>$1,500</td>
                    <td>$500</td>
                </tr> %>
                <% end %>
            </table>
        </div>
    </div>
</div>

